@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

header img {
    height: 60px;
    width: auto;
    margin-left: 40px;
}
body {
    height: 100%;
    margin-top: 80px;
    padding: 30px;
    font-family: "Nunito Sans", sans-serif;
}

main {
    color: black;
    position: relative;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    z-index: 2;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

header li a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    transition: 0.2s;
}

.takontakt {
    color: black;
    text-decoration: none;
}

.takontakt:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    transition: 0.2s;
}

/* Galleri */

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
}

.active {
  background-color: #000000;
}
/*
//.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
*/

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}