@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

#matches {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.match {
    padding: 5px;
    margin: 10px;
    width: 30%;
    color: black;
    text-decoration: none;
}

.match-title {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.match-result {
    /* text-align: center; */
    font-size: 20px;
}

body {
    height: 100%;
    margin-top: 80px;
    padding: 30px;
    font-family: "Nunito Sans", sans-serif;
}

body header a img {
    width: 90px;
    height: auto;
}

main {
    color: black;
    position: relative;
    z-index: -1;
}

/* ------ Header ------ */

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
}

header img {
    height: 60px;
    width: auto;
    margin-left: 40px;
}

header * {
    display: inline;
    white-space: nowrap;  
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

header li a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    transition: 0.2s;
}

/* ------ Header ------ */

#yeti-room {
    height: 100%;
    width: 100%;
}
